.projects{
    height: 100%;
    background-color: transparent;
    margin:auto
}

.projectsTitle{
    margin: 4%;
}
.projectsSubTitle{
    margin-left: 4% !important;
    margin-top: -3%;

}

.btnProjeto{
    background-color:#273238;
    color: #fff !important;
    font-size: 1em;
    border-radius: 4px;
    padding: 2%;
    
    margin-top: 13%;
    margin-right: 1%;

}


.projectContainer{
margin-top:5%;    
display: flex;
flex-direction: row;
justify-content:space-between;
max-width: 97%;
flex-wrap:wrap !important;
padding: 2%;

align-items: center;
align-content: center;
margin: auto;
}
.projectContainer p{
    font-size: 12px;
    text-align: left;
    width: 50%;
    margin-bottom: 5%;

    
}
.projectcard{
    width: 50%;
    margin-top: 5%;
    align-items: center;
}

.image{
    width: 500px;
    height: 290px;
    margin-right: 2%;
    border-radius: 10px;

}


@media only screen and (max-width: 768px) {

    .projectsTitle{
        margin: 13%;
    }
    .projectsSubTitle{
        margin-left: 13% !important;
        margin-top: -10%;
    
    }

    .projectContainer{
        margin-top:5%;    
        display: flex;
        flex-direction: column;
        
        align-items: center;
        align-content: center;
        margin: auto;
        }
    .projectcard{
        width: 100%;
        margin-top: 13%;
        align-items: center;
        margin-bottom: 8%;
    }

    .projectContainer p{
        font-size: 12px;
        text-align: left;
        width: 100%;
    
        
    }

    .image{
        width: 320px;
        height: 200px;
        
        border-radius: 10px;
    
    }

    .btnProjeto{
        background-color:#273238;
        color: #fff !important;
        font-size: 1em;
        border-radius: 4px;
        padding: 2%;
        
        margin-top: 13%;
        margin-right: 1%;
    
    }

    

}
@media (min-width: 1920px) and (max-width: 2560px)  {
    .btnProjeto{
        background-color:#273238;
        color: #fff !important;
        font-size: 1.2em;
        border-radius: 4px;
        padding: 2% !important;
        
        margin-top: 13%;
        margin-right: 1%;
    
    }
    
    
    .projectContainer{
    margin-top:5%;    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 97%;
    flex-wrap:wrap !important;
    padding: 2%;
    
    align-items: center;
    align-content: center;
    margin: auto;
    }
    .projectContainer p{
        font-size: 22px;
        text-align: left;
        width: 80%;
        margin-bottom: 5%;
    
        
    }
    .projectcard{
        width: 50%;
        margin-top: 5%;
        align-items: center;
    }
    
    .image{
        width: 80%;
        height: 350px;
        margin-right: 2%;
        border-radius: 10px;
    
    }
}



