.sliderContainer{
    width: 100%;
    cursor:grab;
    overflow: hidden;
    max-width: 95%;
    margin-left: 3%;

}

.inner{
    display: flex;
    justify-content: space-between;
}

.item{
    margin-right: 5%;
    border: 1px #292a2c 1px;    
}

.item img{
    width: 550px;
    height: 300px;
    border-radius: 7px;
    pointer-events: none;
}


.desc{
    text-align:center;
    width: 100%;
    display: block;
    padding: 2%;
}

.btn_projeto{
    background-color:#273238;
    color: #fff !important;
    font-size: 1em;
    border-radius: 4px;
    padding: 2%;
}

a:visited{
    color: #fff;
}

.SubContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.btn_verTodos{
    background-color:#4bbd5c;
    height: 40px;
    color: #fff !important;
    border-radius: 7px;
    width: 200px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin:auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 5%;
}

.lastDiv{
    height: 200px;
    
}


@media (min-width: 1920px) and (max-width: 2560px)  {
    .sliderContainer{
        cursor:grab;
        overflow: hidden !important;
        max-width: 80%;
        width: 100%;
        margin-left: 11%;
    }
    
    .item{
        margin-right: 5%;
        border: 1px #292a2c 1px;    
    }
    
    .item img{
        width: 700px;
        height: 350px;
        border-radius: 7px;
        pointer-events: none;
    }
    

}

